<!--
  Questo è il file html associato al, in questo caso, al selettore <app-root> tramite il templeteUrl
  avviando l'applicazione troveremo infatti questo codice html scritto qui sotto,
  costituendo quindi la view principale
-->
<div>
  <!-- per inserire delle proprietà all'interno del codice html possiamo usare l'INTERPOLAZIONE,
  esistono vari tipi di interpolazione, in questo caso abbiamo usato {{nome proprietà}} andando a prendere
  questi dati direttamente dalla classe .ts associata aquesta pagina html-->
  <p (click)= "toggle()" [ngStyle]= "componentStyle" [ngClass]= "componentClasses">Il mio nome è {{myName}} {{mySurname}} e ho {{myAge}} anni</p>
<!-- il meccanismo dell'interpolazione è una delle quattro proprità di binding
che angular ci mette a disposizione per legare i dati dell'apllicazione visualizzando direttamente
il valore del dato senza passapre per un evento del DOM tramite js e jQuery **VEDI INDEX.HTML**
-->
  <div *ngIf= "SolaLettura">Questo elemento si vede</div>
  <ul>
    <li *ngIf= "displayText">
      <strong>Dati utente= {{myName}}, {{mySurname}}, {{myAge}}</strong>
    </li>
    <li *ngFor= "let articolo of elencoArticoli">
      l'articolo è "{{articolo.titolo}}" scritto da {{articolo.autore}}
    </li>
    <li>
      {{mammifero.life}}{{mammifero.creation()}} {{mammifero.famousSpeces[3]}}
    </li>
    <li> {{getName()}} </li>
  </ul>
  <p>Lorenzo è un po <button (click) = "OnClickMe()">Click per scoprirlo</button>{{myFavorite}}</p>
  <p>Scrivi qualcosa... <input (keyup)= "onKey($event)"></p>
  <p>Stai scrivendo {{scritto}}</p>
  <p>Oppure così .... <input #box (keyup)="0">
    {{box.value}}
  </p>

</div>
